.App {
  text-align: center;
  background-image: url('../public/glassesImage/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  background-color: rgba(0, 0, 0, 0.7);
}

.imgModel img {
  display: block;
  height: auto;
  width: 250px;
  border-radius: 4px;
}

.model-1 {
  position: relative;
}

.glass-model img {
  position: absolute;
  top: 72px;
  left: 52px;
  height: auto;
  width: 58%;
}

.glasses img {
  width: 120px;
  height: auto;
  cursor: pointer;
}
